    .logo img {
        width: 30px;
    }
    nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px; /* Расстояние между пунктами меню */
    }
    nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    }
    nav ul li a:hover {
    text-decoration: underline;
    }
    .menu-block {
        display: flex;
        align-items: center; /* Центрируем вертикальное положение */
        justify-content: space-between; /* Логотип слева, меню справа */
        background-color: rgb(250, 250, 250);
        padding: 10px 3px;
        height: 5px;
    }
main {
    background-color: #48ff00;
    color: rgb(107, 1, 1);
}  
    section {
    border: 2px solid #ffffff; /* Правильно указали порядок свойств */
    }
    caption {
    color: rgb(247, 4, 207);
    }
    thead {
    background-color: chocolate;
    }
    #text{
    align-items: center;
    text-align: center;
    }
    .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три столбца одинаковой ширины */
    gap: 10px; /* Пространство между ячейками сетки */
    }
    .menu-item {
    padding: 10px;
    text-align: center;
    }
    .menu-item img {
    max-width: 100%;
    }
    .menu-item button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    }
    label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
    }
    textarea {
    width: 100%; 
    padding: 5px;
    resize: vertical; 
    border: 1.5px solid rgb(0, 0, 0); 
    border-radius: 15px; 
    }
    #contact-info{
        background-color: rgb(185, 112, 253);
    }
    #planing{
        background-color: rgb(236, 89, 4);
    }
    #popularity {
        background-color: #00d9ff;
        }
    table {
        width: 100%;
    }
footer {
    background-color: rgb(243, 82, 82);
    text-align: center;
    padding: 10px;
    }
    #contact-info{
        width: 100%; 
        display: flex;
        align-items: center; /* выровнять элементы по верхнему краю */
        gap: 20px; /* интервал между элементами */
    }   
    address {
        flex: 1; /* ширина адреса будет меняться динамически */
    }
    iframe {
        flex-shrink: 0; /* карта не должна сжиматься */
        idth: 600px; /* фиксированная ширина карты */
        height: 450px; /* фиксированная высота карты */
    }